/**
 * Variables
 */
$colorPrimary: #edd4b2;
$colorPrimaryDark: #d0a98f;
$colorPrimaryLight: #cac2b5;

$colorSecondary: #4d243d;
$colorSecondaryDark: #321727;
$colorSecondaryLight: #5d374e;

$colorHeading: #333;
$colorText: #666;
$colorWhite: #fff;
