@import 'src/styles/variables.scss';

.Header {
  min-height: 80px;
  padding: 15px 0;
  background: $colorSecondary;
  color: $colorWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3,
  a {
    color: $colorWhite;
  }
}

.Header__Title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-decoration: none !important;
}
